<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- Standard out appender -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%t] (%F:%L) - %m%n" />
		</layout>
	</appender>
	<!-- A time/date based rolling appender -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../log/replaymanager.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%t] (%F:%L) - %m%n" />
		</layout>
	</appender>

	<!-- root -->
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>